
body{
  background-color: var(--clr-main-background) !important;
}
.ProductDetails {
  background-color: var(--clr-main-background);
  width: 100vw;
  max-width: 100%;
  padding: 6vmax;
  box-sizing: border-box;
  display: flex;
}

.ProductDetails > div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 2vmax;
  box-sizing: border-box;
  border: 1px solid var(--clr-main-background);
}

.ProductDetails > div:last-child {
  align-items: flex-start;
}

.CarouselImage {
  width: 20vmax;
}

.detailsBlock-1 > h2 {
  color: var(--clr-text-primary);
  font: 600 1.6vmax "Roboto";
}

.detailsBlock-1 > p {
  color: var(--clr-text-secondary);
  font: 200 0.6vmax cursive;
  padding: 0.5vmax;
}

.detailsBlock-2 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-top: var(--clr-input-borders);
  border-bottom: var(--clr-input-borders);
  width: 70%;
  padding: 1vmax 0;
}

.detailsBlock-2-span {
  font: 200 0.8vmax cursive;
  color: var(--clr-text-secondary);
}

.detailsBlock-3 {
  width: 70%;
}

.detailsBlock-3-1 {
  display: flex;
  align-items: center;
}

.detailsBlock-3-1-1 > button {
  border: none;
  background-color: var(--clr-svg);
  padding: 0.5vmax;
  cursor:  url("../../images/cursor.png"), auto;
  color: var(--clr-text-tertiary);
  transition: all 0.5s;
  border-radius: 50%;
  height: 2vmax;
  width: 2vmax;
}
.detailsBlock-3-1-1 > button:hover {
  background-color: var(--clr--cartInput-hover);
}

.detailsBlock-3-1-1 > input {
  border: none;
  padding: 0.5vmax;
  width: 1vmax;
  text-align: center;
  outline: none;
  font: 400 0.8vmax "Roboto";
  background-color: var(--clr-main-background);
  color: var(--clr-text-primary);
}

.addToCart {
  border: none;
  cursor:  url("../../images/cursor.png"), auto;
  color: white;
  transition: all 0.5s;
  background-color: var(--clr-main-theme);
  font: 500 0.7vmax "Roboto";
  border-radius: 20px;
  padding: 0.5vmax 2vmax;
  margin: 1vmax;
  outline: none;
}

.addToCart:hover {
  background-color: var(--clr-main-hover);
}

.detailsBlock-3 > p {
  border-top: var(--clr-input-borders);
  border-bottom: var(--clr-input-borders);
  padding: 1vmax 0;
  color: var(--clr-text-secondary);
  font: 400 1vmax "Roboto";
  margin: 1vmax 0;
}

.detailsBlock-4 {
  color: var(--clr-text-primary);
  font: 1vmax sans-serif;
  padding: 0.5vmax;
}

.detailsBlock-4 > p {
  color: var(--clr-text-primary);
  font: 300 0.9vmax sans-serif;
}

.submitReview {
  border: none;
  background-color: var(--clr-main-theme);
  font: 500 0.7vmax "Roboto";
  border-radius: 20px;
  padding: 0.6vmax 2vmax;
  margin: 1vmax 0;
  color: white;
  cursor:  url("../../images/cursor.png"), auto;
  transition: all 0.5s;
  outline: none;
}
.submitReview:hover {
  background-color: var(--clr-main-hover);
  transform: scale(1.1);
}

.MuiPaper-root {
  box-shadow: none !important;
}

.submitDialog {
  display: flex;
  flex-direction: column;
  background-color: white;
  border :none;
}
.submitDialogDark {
  display: flex;
  flex-direction: column;
  background-color: rgba(223, 214, 214, 0);
  border:none;
}
.submitDialogTextArea {
  border: 1px solid rgba(0, 0, 0, 0.267);
  margin: 1vmax 0;
  outline: none;
  padding: 1rem;
  font: 300 1rem "Roboto";
}
.submitDialogTextAreaDark {
  border: 1px solid rgba(255, 255, 255, 0.267);
  margin: 1vmax 0;
  outline: none;
  padding: 1rem;
  font: 300 1rem "Roboto";
  border-radius: 0.125em;
}
#dialogDark{
  color:rgba(255, 255, 255, 0.727);
  background-color: rgba(223, 214, 214, 0);
  border-radius: 0.125em;
}
#dialog{
  color:rgba(29, 30, 31);
  border-radius: 0.125em;
  background-color: white
}

.MuiRating-iconEmpty > svg {
  color: rgb(171, 169, 169);
}
.MuiDialogActions-root{
  background-color: rgba(172, 168, 168, 0);
}
.reviewsHeading {
  color: var(--clr-text-primary);
  font: 500 1.4vmax "Roboto";
  text-align: center;
  border-bottom: var(--clr-input-borders);
  padding: 1vmax;
  width: 20vmax;
  margin: auto;
  margin-bottom: 4vmax;
}
.reviews {
  display: flex;
  overflow: auto;
}

.reviewCard {
  flex: none;
  box-shadow: var(--box-shadow);
  border: var(--clr-input-borders);
  border-radius: 4%;
  width: 25vmax;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1vmax;
  padding: 3vmax;
  transition: all 0.5s;
}

.reviewCard > img {
  width: 5vmax;
}
.reviewCard > p {
  color: var(--clr-text-primary);
  font: 600 0.9vmax "Roboto";
}
.reviewCardComment {
  color: var(--clr-text-secondary);
  font: 300 0.8vmax cursive;
}

.noReviews {
  font: 400 1.3vmax "Gill Sans";
  text-align: center;
  color: var(--clr-text-secondary);
}

.discountSpan{
  color: rgb(33, 211, 33);
  font-size: 1.2vmax;
  margin-top:1vmax;
  margin-bottom: 1vmax;
}
.discounte{
    padding: 0.6vmax;
}

.priceContainer{
  padding : 0.6vmax;
}


.originalPrice{
  padding-bottom: 0.5vmax;;
}

.originalPrice:first-child{
  text-decoration: none;
  font-size: 1vmax;
  color:var(--clr-text-secondary);
}
.discountedPrice{
  font-weight:bold;
}

@media screen and (max-width: 600px) {
  .ProductDetails {
    flex-direction: column;
    height: unset;
  }

  .ProductDetails > div:last-child {
    align-items: center;
  }

  .detailsBlock-1 > h2 {
    font-size: 2.8vmax;
    text-align: center;
  }

  .detailsBlock-1 > p {
    text-align: center;
    font-size: 1vmax;
  }

  .detailsBlock-2 {
    justify-content: center;
  }
  .detailsBlock-2 > span {
    font-size: 1.5vmax;
  }
  .detailsBlock-2-span {
    font: 200 1.5vmax cursive;
    color: rgba(0, 0, 0, 0.699);
  }

  .detailsBlock-3 > h1 {
    font: 700 3vmax "Franklin Gothic Medium";
    text-align: center;
  }

  .detailsBlock-3-1 {
    flex-direction: column;
  }

  .detailsBlock-3-1-1 {
    padding: 2vmax 0;
  }
  .detailsBlock-3-1-1 > button {
    padding: 1.2vmax;
    width: 4vmax;
  }

  .detailsBlock-3-1-1 > input {
    padding: 1.5vmax;
    width: 3vmax;
    font: 400 1.8vmax "Roboto";
  }

  .detailsBlock-3-1 > button:last-child {
    font: 500 1.7vmax "Roboto";
    padding: 1.5vmax;
    width: 20vmax;
    margin: 3vmax 0;
  }

  .detailsBlock-3 > p {
    padding: 2.5vmax 0;
    text-align: center;
    font: 400 2vmax "Roboto";
  }

  .detailsBlock-4 {
    font: 500 2.5vmax sans-serif;
  }

  .detailsBlock-4 > p {
    font: 300 1.8vmax sans-serif;
  }

  .submitReview {
    font: 500 1.7vmax "Roboto";
    padding: 1.5vmax;
    width: 20vmax;
    margin: 3vmax 0;
  }

  .reviewCard > p {
    font: 600 3vw "Roboto";
  }
  .reviewCardComment {
    font: 300 5vw cursive;
  }
}